.jumbotron {
  text-align: justify;
  font-size: 16pt;
  background-color: #651e18b9; 
  color: black;
  border: solid #fff;
  border-width: 3px;
}


img {
  float: right;
  padding: 2px;
  width: 90px;
  border: solid;
  position: relative;
  top: -100px;
}

body {
  background-image: url("../img/neighborhood.jpg");
  background-attachment: static;
  background-size: cover;
}
.column {
  background-color: #f88479a5;
  margin: 15px;
  text-align: justify;
  border: 3px solid;
  height: 500px;
  padding: 15px;
  font-size: 16pt;
  font-weight: bolder;
}
/* #output {
  display: none;
} */