.jumbotron {
  text-align: justify;
  font-size: 16pt;
  background-color: #651e18b9; 
  color: black;
  border: solid #fff;
  border-width: 3px;
}


.photo {
  float: right;
  padding: 2px;
  width: 110px;
  border: solid;
  position: relative;
  top: -100px;
}

body {
  background-image: url("../img/neighborhood.jpg");
  background-attachment: static;
  background-size: cover;
}


input {
  max-width: 20%;
}


input {
  height: 40px; 
  width:280px;
}
.column {
  background-color: #f88479a5;
  margin: 15px;
  text-align: left;
  border: 3px solid;
  height: 600px;
  padding: 15px;
  font-size: 16pt;
  font-weight: bolder;
}
#robot {
  display: none;
  float: right;
  padding: 2px;
  width: 200px;
  border: solid;
  position: relative;
}
