.jumbotron {
  text-align: justify;
  font-size: 16pt;
  background-color: blanchedalmond;
  color: black;
  border: solid #fff;
  border-width: 3px;
}


img {
  float: right;
  padding: 2px;
  width: 90px;
  border: solid;
  position: relative;
  top: -100px;
}

body {
  background-image: url("../img/neighborhood.jpg");
  background-attachment: static;
  background-size: cover;
}